jupyter-book
jupyterlab_myst
matplotlib
numpy
pandas
openpyxl
datetime
requests
river == 0.21.2 # version number needed. if not included -> rust error
cassandra-driver
pyspark
mysql.connector
flask
pybaselines
pyjstat
statsmodels
hoggorm
hoggormplot
scikit-learn
ipywidgets
plotly
pydub
sounddevice
kaleido
lipsum
bs4
pymongo
writer
